<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frdscm.wms.mapper.ReceiptListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.frdscm.wms.entity.ReceiptList">
        <id column="id" property="id"/>
        <result column="board_number" property="boardNumber"/>
        <result column="warehouse_storage_number" property="warehouseStorageNumber"/>
        <result column="status" property="status"/>
        <result column="receipt_mode" property="receiptMode"/>
        <result column="batch_number" property="batchNumber"/>
        <result column="material_number" property="materialNumber"/>
        <result column="material_name" property="materialName"/>
        <result column="box_count" property="boxCount"/>
        <result column="quantity_count" property="quantityCount"/>
        <result column="gross_weight" property="grossWeight"/>
        <result column="net_weight" property="netWeight"/>
        <result column="volume" property="volume"/>
        <result column="board_count" property="boardCount"/>
        <result column="unit" property="unit"/>
        <result column="unit_id" property="unitId"/>
    </resultMap>

    <select id="getReceiptListByReceiptManageIdPage" resultType="com.frdscm.wms.entity.ReceiptList">
        select
            *
        FROM receipt_list rl
        where rl.receipt_manage_id = #{receiptManageId}
          and rl.status > 0
    </select>
</mapper>
